@model DarbasGamykloje.ViewModels.WorkerView

@{
    ViewBag.Title = "CompletedWork";
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.completedWork)
        </th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.completedWork)
        </td>
    </tr>

</table>
